.slider {
  margin: 0 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}

.slider img {
  width: 480px;
}

.info h1 {
  font-size: 48px;
  margin: 0 0 50px 0;
}

.info {
  margin-right: 100px;
}
