:root {
    --primary: #5405bd;
}

body {
    margin: 0;
    font-family: inter, helvetica, arial;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bg-gray {
    background-color: #f4f5f6;
}

.d_flex_bethween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d_none {
    display: none !important;
}